<h1>
  Instructions
</h1>
<div>

  <mat-list role="list">
    <mat-list-item role="listitem">
      1. Create a service to call the following api to get data and convert it into a model https://60d0a26d7de0b20017109358.mockapi.io/api/Instructions
    </mat-list-item>
    <mat-list-item role="listitem">
      2. Create a component to view the data you got from the api
    </mat-list-item>
    <mat-list-item role="listitem">

      <br/>
      <br/> <br/>
      <br/>
      3. Translate the following fields into :
      <br/>
      * BUYSELL column if it is a "B" => BUY
      <br/>
      * BUYSELL column if it is a "S" = > SELL
      <br/>
      * TradeDate column to look like "2018/03/05"
      <br/>
      * SettlementData column to look like "2018/03/05 15:38:56"
      <br/>
      * DealPrice column to look like "R 32.50"
    </mat-list-item>
  </mat-list>

</div>